input.ng-invalid.ng-touched {
    border: red 1px solid;
  }
  .register{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  h1 {
    margin: 6%;
    text-align: center;
    font-family: "Montez", cursive;
    font-size: xx-large;
    color: #212231;
  }
  mat-card {
    height: auto;
    width: 30rem;
    padding: 2rem;
    background-color: white;
  }
  mat-card-content{
    display: flex;
    flex-direction: column;
  }
  button {
    margin-bottom: 3%;
  }
  button:hover{
      background-color: #212231;
      color: white;
  }
  
  