<div class="container flex flex-row">
    <div class="chat-list">
        <div class="heading">
            <div>
                <h2>Chats</h2>
            </div>
            <div>
                <div class="button-container">
                    <button mat-mini-fab aria-label="edit" (click)="showContacts()">
                        <mat-icon>edit</mat-icon>
                    </button>
                </div>
            </div>
        </div>
        <mat-form-field class="mat-form">
            <input matInput placeholder="Search..." [matAutocomplete]="users" />
        </mat-form-field>

        <mat-autocomplete #users="matAutocomplete">
            <mat-option>hey</mat-option>
        </mat-autocomplete>

        <mat-tab-group class="tab">

            <mat-tab label="Chat List">
                <mat-card class="chat-card">
                    <mat-card-header>
                        <mat-card-title-group flex flex-row>
                            <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
                            <mat-card-title>Shiba Inu</mat-card-title>
                        </mat-card-title-group>
                    </mat-card-header>
                </mat-card>
            </mat-tab>

            <mat-tab label="Groups">
                <mat-card class="chat-card">
                    <mat-card-header>
                        <mat-card-title-group flex flex-row>
                            <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
                            <mat-card-title>Shiba Inu</mat-card-title>
                        </mat-card-title-group>
                    </mat-card-header>
                </mat-card>
            </mat-tab>

        </mat-tab-group>

    </div>
    <div class="messages">
        <div *ngIf="id">

            <!-- reciever's profile card -->
            <mat-card class="profile-container">
                <mat-card-content>
                    <div class="profile-card">
                        <img class="profile-image" src="{{reciever[0].avatar.url}}" alt="profile">
                        <h1>{{reciever[0].username}}</h1>
                    </div>
                </mat-card-content>
            </mat-card>

            <!-- shows messages between sender and reciever -->
            <div class="message-list">
                <div  *ngFor="let chat of privateChatMessages">
                    <div class="admin-chat" *ngIf="chat.sender._id !== reciever[0]._id">
                <mat-card class="chat" >
                    <mat-card-content>{{chat.content}}</mat-card-content>
                </mat-card>
            </div>
                <div class="user-chat" *ngIf="chat.sender._id === reciever[0]._id">
                <mat-card class="chat" >
                    <mat-card-content>{{chat.content}}</mat-card-content>
                </mat-card>
            </div>
            </div>
            </div>

            <!-- message input area -->
            <div class="chat-message-form">
                <mat-form-field appearance="fill">
                    <mat-label>Type your message...</mat-label>
                    <textarea matInput [(ngModel)]="message" placeholder="Type your message..."></textarea>
                    <input type="file" multiple (change)="handleFileInput($event)" hidden />
                </mat-form-field>
                <button mat-icon-button (click)="handleSendMessage()">
                    <mat-icon>send</mat-icon>
                </button>
                <button mat-icon-button>
                    <mat-icon>attach_file</mat-icon>
                </button>
                <div class="upload-options">
                    <button mat-mini-button (click)="handleFileInput($event)">Image</button>
                    <button mat-mini-button (click)="handleFileInput($event)">Document</button>
                    <button mat-mini-button (click)="handleFileInput($event)">Video</button>
                </div>
            </div>
        </div>
    </div>

</div>