<h2 mat-dialog-title class="text-center">New Chat!</h2>
<mat-dialog-content class="mat-typography">
    <button mat-raised-button class="new-group"><mat-icon svgIcon="thumbs-up"></mat-icon>New Group</button>
    <div>
        <input type="text" class="search-contact" 
        placeholder="Search name..." [(ngModel)]="contact">
    </div>
        <mat-card class="contact-card" *ngFor="let user of userdata">
            <mat-card-header *ngIf="userdata">
                <mat-card-title-group class="conatct-view" (click)="selectUser(user)">
                    <img class="conatct-image" mat-card-sm-image src="https://stock.adobe.com/search?k=%22avatar+icon%22">
                    <h4>{{user.name}}</h4>
                </mat-card-title-group>
            </mat-card-header>
        </mat-card>
</mat-dialog-content>
<mat-dialog-actions align="center" >
    <button mat-button mat-dialog-close>Close</button>
  </mat-dialog-actions>
  