<h2 mat-dialog-title class="text-center">New Chat!</h2>
<mat-dialog-content class="mat-typography">
    <button mat-raised-button class="new-group"><mat-icon svgIcon="thumbs-up"></mat-icon>New Group</button>
    <div>
        <input type="text" class="search-contact" 
        placeholder="Search name..." [(ngModel)]="contact">
    </div>
        <mat-card class="contact-card" *ngFor="let item of [1,2,3,8,5,6,6,6,6]">
            <mat-card-header>
                <mat-card-title-group class="conatct-view">
                    <img class="conatct-image" mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
                    <h4>Shiba Inu</h4>
                </mat-card-title-group>
            </mat-card-header>
        </mat-card>
</mat-dialog-content>
<mat-dialog-actions align="center" >
    <button mat-button mat-dialog-close>Close</button>
  </mat-dialog-actions>
  