<h2 mat-dialog-title class="text-center">New Chat!</h2>
<mat-dialog-content class="mat-typography">
    <button mat-raised-button class="new-group"><mat-icon svgIcon="thumbs-up"></mat-icon>New Group</button>
    <div>
        <input type="text" class="search-contact" 
        placeholder="Search name..." [(ngModel)]="contact">
    </div>
        <mat-card class="contact-card" *ngFor="let user of users">
            <mat-card-header *ngIf="users">
                <mat-card-title-group class="conatct-view" (click)="selectUser(user._id)">
                    <img class="conatct-image" mat-card-sm-image src={{user.avatar.url}}>
                    <h4>{{user.username}}</h4>
                </mat-card-title-group>
            </mat-card-header>
        </mat-card>
</mat-dialog-content>
<mat-dialog-actions align="center" >
    <button mat-button mat-dialog-close>Close</button>
  </mat-dialog-actions>
  